@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.ProseMirror > * + * {
  margin-top: 0.75em;
}

.ProseMirror h1 {
  @apply font-bold text-4xl;
}

.ProseMirror h2 {
  @apply font-bold text-3xl;
}

.ProseMirror h3 {
  @apply font-bold text-2xl;
}

.ProseMirror {
  @apply outline-gray-700 outline-2 outline rounded-sm transition-all py-3 px-2;
}

.ProseMirror:focus {
  @apply outline-gray-600;
}
